<div class="row">
    <div class="col-12">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"> <a href="@Url.Action("Index", "Home")">Home</a> </li>
                <li class="breadcrumb-item active"> About </li>
            </ul>
        </nav>
    </div>
</div>
<p>This project is for demo purposes only</p>